@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}

body {
    font-family: 'Advent Pro', sans-serif;
}


footer{
    position: absolute;
    margin-top: 300px;
}
footer a{
    color: #F5E53A;
}
footer img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
#preloder {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 999999;
}
.wrapper{
    position: absolute;
    top: 313px;
    left: 450px;
    margin: auto;
    /* overflow: hidden; */
    /* right: 0; */
}

.line{
    position: absolute;
    top: 0px;
    width: 2px;
    height: 8px;
    background-color: red;
}

.circle{
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: blue;
}
.circle-top{
    top: 0px;
    left: -3.5px;
}
.circle-bottom{
    bottom: 0px;
    left: -3.5px;
}

.dot{
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: -1.5px;
}

.line1{
    margin-left: 0px;
    background-color: #2410CB;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > span{
    background-color: #D4141E;
}
.line1 > .dotted > .dot{
    background-color: #D4141E;
}
.line1 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}

.line2{
    margin-left: 35px;
    background-color: #852DF4;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > span{
    background-color: #FC7E48;
}
.line2 > .dotted > .dot{
    background-color: #FC7E48;
}
.line2 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}

.line3{
    margin-left: 70px;
    background-color: #F42DF1;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > span{
    background-color: #EDEB29;
}
.line3 > .dotted > .dot{
    background-color: #EDEB29;
}
.line3 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}

.line4{
    margin-left: 105px;
    background-color: #F91396;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > span{
    background-color: #ACED29;
}
.line4 > .dotted > .dot{
    background-color: #ACED29;
}
.line4 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}

.line5{
    margin-left: 140px;
    background-color: #D4141E;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > span{
    background-color: #4EF02B;
}
.line5 > .dotted > .dot{
    background-color: #4EF02B;
}
.line5 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}

.line6{
    margin-left: 175px;
    background-color: #FC7E48;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > span{
    background-color: #38E790;
}
.line6 > .dotted > .dot{
    background-color: #38E790;
}
.line6 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}

.line7{
    margin-left: 210px;
    background-color: #EDEB29;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > span{
    background-color: #25EACC;
}
.line7 > .dotted > .dot{
    background-color: #25EACC;
}
.line7 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}

.line8{
    margin-left: 245px;
    background-color: #ACED29;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > span{
    background-color: #309CDF;
}
.line8 > .dotted > .dot{
    background-color: #309CDF;
}
.line8 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}

.line9{
    margin-left: 280px;
    background-color: #4EF02B;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > span{
    background-color: #2544E7;
}
.line9 > .dotted > .dot{
    background-color: #2544E7;
}
.line9 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}

.line10{
    margin-left: 315px;
    background-color: #38E790;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > span{
    background-color: #852DF4;
}
.line10 > .dotted > .dot{
    background-color: #852DF4;
}
.line10 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}

.line11{
    margin-left: 350px;
    background-color: #25EACC;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
.line11 > span{
    background-color: #F42DF1;
}
.line11 > .dotted > .dot{
    background-color: #F42DF1;
}
.line11 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;

}
.line11 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
.line11 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
.line11 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}

@-webkit-keyframes line{
    0%{height: 4px; top: 0px; left: 0px; -webkit-transform: rotate(-65deg)}
    10%{height: 220px; top: -110px; left: 15px;}
    45%{height: 200px; top: -100px; left: 25px;}
    70%{height: 8px; top: 0px; left: 25px; -webkit-transform: rotate(0deg);}
    100%{height: 8px; top: 0px; left: 15px; -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes dot-top{
    0%{top: -30px}
    10%{top: -30px;}
    45%{top: -25px;}
    60%{top: 0px;}
    100%{top: 0px;}
}
@-webkit-keyframes dot-bottom{
    0%{bottom: -30px}
    10%{bottom: -30px;}
    45%{bottom: -25px;}
    60%{bottom: 0px;}
    100%{bottom: 0px;}
}
@-webkit-keyframes dot-middle-top{
    0%{}
    10%{}
    45%{top: 98px;}
    70%{top: -50px;}
    85%{top: 0px;}
    100%{top: 0px;}
}
@-webkit-keyframes dot-middle-bottom{
    0%{}
    10%{}
    45%{bottom: 98px;}
    70%{bottom: -50px;}
    85%{bottom: 0px;}
    100%{bottom: 0px;}
}

@keyframes line{
    0%{height: 4px; top: 0px; left: 0px; transform: rotate(-65deg)}
    10%{height: 220px; top: -110px; left: 15px;}
    45%{height: 200px; top: -100px; left: 25px;}
    70%{height: 8px; top: 0px; left: 25px; transform: rotate(0deg);}
    100%{height: 8px; top: 0px; left: 15px; transform: rotate(0deg);}
}
@keyframes dot-top{
    0%{top: -30px}
    10%{top: -30px;}
    45%{top: -25px;}
    60%{top: 0px;}
    100%{top: 0px;}
}
@keyframes dot-bottom{
    0%{bottom: -30px}
    10%{bottom: -30px;}
    45%{bottom: -25px;}
    60%{bottom: 0px;}
    100%{bottom: 0px;}
}
@keyframes dot-middle-top{
    0%{}
    10%{}
    45%{top: 78px;}
    70%{top: -50px;}
    85%{top: 0px;}
    100%{top: 0px;}
}
@keyframes dot-middle-bottom{
    0%{}
    10%{}
    45%{bottom: 78px;}
    70%{bottom: -50px;}
    85%{bottom: 0px;}
    100%{bottom: 0px;}
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
nav a {
    color: #fff;
    padding-right: 30px;
}
img.logo {
    width: 70px;
}
a {
    text-decoration: none;
}
.delivery {
    width: 100%;
    height: 100vh;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
.img_delivery {
    position: relative;
}

.img_delivery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  

}
.delivery_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.delivery_list ul {
    list-style: none;
    text-align: left;
    font-size: 30px;
    height: 100%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.603);
    margin-top: 80px;
}
.delivery_lis ul li {
    list-style: none;
    text-align: left;
    font-size: 30px;
    height: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.558);
}
.delivery h3 {
    padding-bottom: 20px;
    font-size:  25px;
    color: rgba(0, 0, 0, 0.626);
    text-align: center;
}


.diliveri_body {
    display: flex;
    justify-content: center; 
    width: 90%;
    flex-wrap: wrap-reverse;
    margin: auto;
} 


.none_block {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.614);
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 15px;
}


.img_ab {
    position: absolute;
    top: 60px;
    left: 60px;
}


#speed {
    width: 150px;
    position: absolute;
    bottom: 10px;
    left: 350px;
    z-index: -1;
    animation: speed 5s infinite linear;
}


@keyframes speed {
    25% {
        left: 1800px;
    }
    80% {
        transform: rotate(180deg);
    }
    100% {
        left: 350px;
    }
}


.contacts {
    width: 100%;
    height: 100vh;
    background-image: url(https://freight.cargo.site/t/original/i/598dcb2366083e4d1c298ab8f7d97576cea9d9333cfb25face357201db2f5add/https___hypebeast.com_image_2020_10_moncler-rick-owens-collection-full-look-release-info-tw.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }


.cont_block {
    width: 50%;
    background-color: #0c0303a8;
    height: 60%;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont_set img  {
    width: 40px;
}


.cont_title {
    color: aliceblue;
    text-align: center;
}


.cont_title h3 {
    font-size: 32px;
    padding-bottom: 20px;
}


.cont_title p {
    font-size: 20px;
    padding-bottom: 15px;
}


.cont_set img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index:9999 ;
    cursor: pointer;
}


#scrollButton img {
    width: 50px;
}


#scrollButton.show {
    display: block;
}


.mobile_menu {
    display: none;
}
.mobile_header {
    width: 100%;
    padding: 0 20px;
    height: 60px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 200;
    position: relative;
}
.mobile__burger {
    width: 30px;
    height: 20px;
}
.burger {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}


.burger::before {
    top: 0;
}


.burger::after {
    bottom: 1px;
}


.burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 30px;
    top: 8px;
}




.mobile_link {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -100%;
    z-index: 20;
    transition: 0.3s ease-in-out;

}


.mobile_link img {
    width: 100px;
    margin-bottom: 30px;
}


.mobile_link a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}


.burger.active::before {
    transform: rotate(45deg);
    top: 9px;
}
.burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
}


.burger.active span {
    transform: scale(0);
}


.burger.active span {
    transform: scale(0);
}


.mobile_link.active {
    top: 0;
    z-index: 0;
}


#particles-js  {
    width: 100%;
    height: 100vh;
    background-color: #000;
}



@media (max-width:960px) {
    header {
        display: none;
    }

    
.mobile_menu  {
    display: block;
}
}



nav a:hover {
    color: crimson;
    text-shadow: 0 1px 5px cornsilk;
    transition: 1s;
}


.head-block {
    width: 100%;
    height: 100vh;
    background-image: url(99px_ru_wallpaper_340011_devushka_v_kimono_stoit_na_mostu_derja_v.jpg);
    background-size: cover;
}
.filter {
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 253, 253);

}


.filter h1{
    font-size: 50px;
    font-weight: 800;
    opacity: 60%;
    text-shadow: 0 1px 10px rgb(220, 210, 20), 1px 0 7px rgb(220, 210, 20);
}


.filter p  {
    font-size: 32px;
    opacity: 60%;
    font-weight: 200;
    max-width: 40%;
    text-align: center;
}
a.btn {
    text-decoration: none;
    /*background-color: rgb(220, 210, 20);*/
    /* background-image: linear-gradient(
  0deg,
  hsl(0deg 93% 42%) 0%,
  hsl(27deg 100% 38%) 13%,
  hsl(42deg 100% 35%) 24%,
  hsl(56deg 60% 40%) 33%,
  hsl(80deg 36% 53%) 40%,
  hsl(116deg 34% 66%) 44%,
  hsl(150deg 44% 72%) 47%,
  hsl(140deg 33% 72%) 49%,
  hsl(126deg 23% 72%) 49%,
  hsl(109deg 17% 71%) 48%,
  hsl(95deg 13% 70%) 48%,
  hsl(82deg 8% 69%) 49%,
  hsl(70deg 4% 68%) 61%
); */
    padding: 10px 60px;
    border-radius: 300px;
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
    background: linear-gradient(45deg, #930828, #ffb8cf);
    border-bottom: 2px solid #ffffff;
}

a.btn:hover {
    background: linear-gradient(45deg,  #ffb8cf, #930828);
}


.categories {
    padding: 135px 0 150px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
.all-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card {
    width: 560px;
    height: 320px;
    overflow: hidden
}


.card a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}


.card a img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.card a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card a p{
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
}


.cat-title {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.cat-title h2 {
    font-size: 50px;
}


.cat-title p {
    font-size: 24px;
    opacity: 50%;
    max-width: 50%;
    padding: 30px 0;
}


.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;   
}


.product h2 {
    font-size: 50px;
    padding-bottom: 30px;
}
.pro-card {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
    justify-content: center;
}
.i-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.i-img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: 30%;
}
.i-title {
    display: flex;
    justify-content: center;
    gap: 3px;
    padding-bottom: 20px;
}


.i-title span {
    opacity: 50%;
    text-decoration: line-through;
}
a.basket {
    background-color: #000000;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;

}


.i-card h3 {
    text-align: center;
    padding: 15px 0;
}

.about {
    width: 100%;
    height: 100vh;
    background-image: url(https://phonoteka.org/uploads/posts/2021-06/1624381529_19-phonoteka_org-p-oboi-na-rabochii-stol-listya-krasivo-19.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}
.about-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 50px;
    flex-wrap: wrap;
}
.about-title {
    color: #fff;
    max-width: 500px;
}



.about-title h2 {
    font-size: 45px;
    opacity: 70%;
}


@media (max-width: 500px) {
    .filter h1 {
        font-size: 35px;
        text-align: center;
    }

    .filter p {
        max-width: 100%;
    }

    a.btn {
        padding: 16px 86px;
    }

    .cat-title {
        max-width: 100%;
        padding: 0 20px;
    }
    .cat-title p {
        max-width: 100%;
    }

    .about {
        margin-top: 40px;
    }
    .delivery h3 {
        font-size: 30px;
    }
    .product h2 {
        font-size: 30px;
    }
    .cat-title h2 {
        font-size: 30px;
    }
    .i-card {
        width: 300px;
    }

    .categories {
        padding: 32px 0 150px 0;
    }

    .none_block, img.img_ab {
        display: none;
    }

    .diliveri_body {
        row-gap: 30px;
    }

    .img_delivery img {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .delivery_list {
        color: #fff;
    }

    .delivery_list ul {
        width: 100%;
        height: 300px;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 30px;
        margin-top: 0;
        
    }

    .delivery_list ul li {
        display: block;
    }

    .cont_block {
        width: 100%;
    }
    .about {
        padding-top: 10px;
    }
    .about-title h2 {
        padding-bottom: 20px;
    }

    #speed {
        width: 150px;
        position: absolute;
        bottom: 10px;
        left: -146px;
        z-index: -1;
        animation: speed 5s infinite linear;
    }
    
    
    @keyframes speed {
        25% {
            left: 800px;
        }
        80% {
            transform: rotate(180deg);
        }
        100% {
            left: -146px;
        }
    }
    
}